<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<article class="flashes">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</article>
<br><br>

<div>
{% if current_user.is_authenticated %}
{#    <li><a href="{{ url_for('inde', username=current_user.username) }}">My Links</a></li>#}
    <li><a href="{{ url_for('user_profile', username=current_user.username) }}">Profile</a></li>
    <li><a href="{{ url_for('logout') }}">Sign out</a></li>
{% else %}
    <li><a href="{{ url_for('signup') }}">Sign up</a></li>
    <li><a href="{{ url_for('login') }}">Sign in</a></li>
{% endif %}
--

<a href="{{ url_for('index') }}">Index</a>

{#<a href="{{ url_for('signup') }}">Signup</a>#}
{#<a href="{{ url_for('login') }}">Log-in</a>#}
<a href="{{ url_for('post_task') }}">Tasks</a>
</div>
<hr>
{% block content %}
{% endblock %}
</body>
</html>